@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: #3d0404;
		--secondary: #f0efed;

		font-family: 'sofia-pro', sans-serif;
	}

	p {
		line-height: 1.4rem;
	}
}
