@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Exemple : <p class="bg-[var(--primary)]"> */
    --primary: #3D0404;
    --secondary: #F0EFED;
}

* {
    font-family: "sofia-pro";
}

h1 {
	font-size: clamp(1.5rem, 2.5vw, 3rem);
}

h2, h3 {
	font-size: clamp(1.5rem, 2.5vw, 3rem);
}

/* valeurs de paragraphes pour le Hero */
